@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Spirax&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.tool-bar{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blueviolet;
    width: 100%;
    justify-content: space-evenly;
}

.tool-btn{
    background-color:gold;
    color: blueviolet;
    width: 150px;
    height: 40px;
}


.img-hangman{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.insert-section {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    padding: 10px;
    background-color:blueviolet;
    width: 400px;
    border-radius: 5px;
}

.insert-section .response-img{
    width: 250px;
    height: 250px;
    background-color: aliceblue;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 5px;
}

.hang-image{
    width: 400px;
    margin: 1rem;
    padding: 10px;
    border: 1px solid blueviolet;
    border-radius: 5px;
}

.input-label{
    padding-bottom: 8px;
    font-family: "Spirax", sans-serif;
    font-size: xx-large;
}

.char-input{
    border-radius: 5px;
    height: 20px;
    width: 1rem;
    padding: 0.5rem; 
    font-size: medium;
    text-align: center;
    text-transform: uppercase;
}

.send-char{
    border-radius: 5px;;
    height: 38px;
    background-color:gold;
    color: blueviolet;
}

.word-hangman{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
    color: whitesmoke;
    margin-top: 10px;
    width: 874px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.wrong-right{
    font-family: "Spirax", sans-serif;
    font-size: x-large;
    color: gold;
}

.word{
    text-transform: uppercase;
    font-size: xx-large;
}

.wrong-char{
    text-transform: uppercase;
    font-size: x-large;
}
